* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Garamond";
}

.banner {
    background-color: SaddleBrown;
    color: #fff;
    text-align: center;
    height: 50px;
}

.main {
    display: flex;
width: 100%;
}

.main .right {
    width: 60%;
}

.main .left {
    background-color: tan;
    height: 500px;
    width: 40%;
}

.main .right .right-one, .main .right .right-two {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: tan;
    height: 250px;
}

.main .right .right-one form {
    padding: 10px 30px;
    width: 400px;
    background-color: saddlebrown;
    color: #fff;
}

.main .right .right-one form .element-one, .main .right .right-one form .element-two, .main .right .right-one form .element-three {
    display: flex;
    align-items: center;
    gap: 10px;
} 

.main .right .right-one form input {
    margin: 5px;
}

.main .right .right-one {
    padding-top: 20px;
} 

.main .right .right-two li {
    margin-left: 40px;
}

.footer {
    background-color: saddlebrown;
    color: #fff;
}